<!-- Offcanvas Area Start -->
<div class="fix-area">
  <div class="offcanvas__info">
    <div class="offcanvas__wrapper">
      <div class="offcanvas__content">
        <div class="offcanvas__top mb-5 d-flex justify-content-between align-items-center">
          <div class="offcanvas__logo">
            <a href="/index.html">
              <img src="/assets/img/logo/SIMPSEC LOGO offcanvas.png" alt="logo-img" />
            </a>
          </div>
          <div class="offcanvas__close">
            <button>
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <p class="text d-none d-xl-block">
          We provide simple language guidance, friendly support, and modern tools that help your
          business stay secure, run smoothly, and save time without tech overwhelm.
        </p>
        <div class="mobile-menu fix mb-3"></div>
        <div class="offcanvas__contact">
          <h4>Contact Info</h4>
          <ul>
            <li class="d-flex align-items-center">
              <div class="offcanvas__contact-icon">
                <i class="fal fa-map-marker-alt"></i>
              </div>
              <div class="offcanvas__contact-text">
                <a target="_blank" href="#">Virginia Beach, Virginia</a>
              </div>
            </li>
            <li class="d-flex align-items-center">
              <div class="offcanvas__contact-icon mr-15">
                <i class="fal fa-envelope"></i>
              </div>
              <div class="offcanvas__contact-text">
                <a href="mailto:Support@simpsec.org"
                  ><span class="mailto:info@example.com">Support@simpsec.org</span></a
                >
              </div>
            </li>
            <li class="d-flex align-items-center">
              <div class="offcanvas__contact-icon mr-15">
                <i class="fal fa-clock"></i>
              </div>
              <div class="offcanvas__contact-text">
                <a target="_blank" href="#">Monday-Friday, 8a-5p</a>
              </div>
            </li>
            <li class="d-flex align-items-center">
              <div class="offcanvas__contact-icon mr-15">
                <i class="far fa-phone"></i>
              </div>
              <div class="offcanvas__contact-text">
                <a href="tel:7572641838">(757) 264-1838</a>
              </div>
            </li>
          </ul>
          <div class="header-button mt-4">
            <a href="/contact.html" class="theme-btn text-center"> Reach out to us! </a>
          </div>
          <div class="social-icon d-flex align-items-center">
            <a href="#"><i class="fab fa-youtube"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
            <a
              href="http://substack.com/@vanessagerardo"
              class="social-icon-img"
              aria-label="Substack"
            >
              <img src="/assets/img/substack.png" alt="Substack" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="offcanvas__overlay"></div>

<!-- Header Section Start -->
<header id="header-sticky" class="header-1">
  <div class="container-fluid">
    <div class="mega-menu-wrapper">
      <div class="header-main">
        <div class="header-left">
          <div class="logo">
            <a href="/index.html" class="header-logo">
              <img src="/assets/img/logo/SIMPSEC LOGO banner.png" alt="logo-img" />
            </a>
          </div>
          <div class="mean__menu-wrapper">
            <div class="main-menu">
              <nav id="mobile-menu">
                <ul>
                  <li>
                    <a href="/index.html"> Home </a>
                  </li>
                  <li class="has-dropdown">
                    <a href="/services.html">
                      Services
                      <i class="fa-solid fa-chevron-down"></i>
                    </a>
                    <ul class="submenu">
                      <li><a href="/cybersecurity.html">Cybersecurity</a></li>
                      <li><a href="/it-support.html">IT Support</a></li>
                      <li><a href="/ai-automation.html">AI & Automation</a></li>
                      <li><a href="/consulting.html">Consulting</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="/pricing.html">Pricing<i class="fa-solid fa-chevron-down"></i> </a>
                    <ul class="submenu">
                      <li><a href="/pricing-preventative.html">Preventative</a></li>
                      <li><a href="/pricing-rapid-response.html">Rapid Response</a></li>
                      <li>
                        <a href="/personal/digital-footprint-recovery.html">Personal Privacy</a>
                      </li>
                    </ul>
                  </li>
                  <li class="has-dropdown">
                    <a href="/about.html">
                      About Us
                      <i class="fa-solid fa-chevron-down"></i>
                    </a>
                    <ul class="submenu">
                      <li><a href="/project.html">Our Portfolio</a></li>
                    </ul>
                  </li>
                  <li class="has-dropdown">
                    <a href="#">
                      Resources
                      <i class="fa-solid fa-chevron-down"></i>
                    </a>
                    <ul class="submenu">
                      <li><a href="/faq.html">FAQ</a></li>
                      <li><a href="#">Our Blog</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="/contact.html">Support</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <div class="header-right d-flex justify-content-end align-items-center">
          <a href="/inquiry.html" class="join-text d-none d-md-inline-flex">
            <img src="/assets/img/shield.svg" alt="shield" /> Start Today!
          </a>
          <a href="#0" class="search-trigger search-icon"
            ><i class="fa-regular fa-magnifying-glass"></i
          ></a>
          <div class="header__hamburger d-xl-block my-auto">
            <div class="sidebar__toggle">
              <i class="fas fa-bars"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Search Area Start -->
<div class="search-wrap">
  <div class="search-inner">
    <i class="fas fa-times search-close" id="search-close"></i>
    <div class="search-cell">
      <form action="/search.html" method="get">
        <div class="search-field-holder">
          <input
            type="search"
            name="q"
            class="main-search-input"
            placeholder="Search..."
            required
          />
        </div>
      </form>
    </div>
  </div>
</div>
