<footer class="footer-section footer-bg">
  <div class="container">
    <div class="footer-widgets-wrapper">
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-12 wow fadeInUp" data-wow-delay=".2s">
          <div class="single-footer-widget">
            <div class="footer-content">
              <h3 class="mb-3">Subscribe our newsletter</h3>
              <p>Join us today, get update everyday</p>
              <div class="footer-input">
                <input type="email" id="email" placeholder="Enter email..." />
                <button class="newsletter-btn" type="submit">
                  <img src="/assets/img/circle-check.png" alt="img" />
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-xl-2 col-lg-4 col-md-6 ps-lg-5 wow fadeInUp" data-wow-delay=".4s">
          <div class="single-footer-widget">
            <div class="widget-head">
              <h3>Company</h3>
            </div>
            <ul class="list-items">
              <li>
                <a href="/about.html"> About us </a>
              </li>
              <li>
                <a href="/contact.html"> Book a Consultation </a>
              </li>
              <!--
                <li>
                    <a href="/contact.html">
                        Events
                    </a>
                </li>
                -->
              <li>
                <a href="/news.html"> Our blog </a>
              </li>
              <li>
                <a href="/contact.html"> Contact us </a>
              </li>
              <li>
                <a href="/contact.html"> Careers </a>
              </li>
              <!--
                <li>
                    <a href="/login.html">
                        User login
                    </a>
                </li>
                -->
            </ul>
          </div>
        </div>
        <div class="col-6 col-xl-3 col-lg-4 col-md-6 ps-lg-5 wow fadeInUp" data-wow-delay=".6s">
          <div class="single-footer-widget">
            <div class="widget-head">
              <h3>Top Services</h3>
            </div>
            <ul class="list-items">
              <li>
                <a href="/it-support/managed-it.html"> Managed IT </a>
              </li>
              <li>
                <a href="/cybersecurity/risk-assessment.html"> Cybersecurity Risk Assessment </a>
              </li>
              <li>
                <a href="/cybersecurity/security-monitoring-threat-detection.html"> Security Monitoring </a>
              </li>
              <li>
                <a href="/ai-automation/workflow-automation.html"> Workflow Automation </a>
              </li>
              <li>
                <a href="/cybersecurity/incident-response-recovery.html"> Incident Response & Recovery </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-12 wow fadeInUp" data-wow-delay=".8s">
          <div class="single-footer-widget">
            <div class="widget-head">
              <h3>Instagram</h3>
            </div>
            <div class="row g-3">
              <div class="col-6 col-md-3 col-lg-6">
                <div class="footer-thumb">
                  <img src="/assets/img/footer/gallery-1.jpg" alt="img" />
                  <a href="/index.html" class="icon">
                    <i class="fa-brands fa-instagram"></i>
                  </a>
                </div>
              </div>
              <div class="col-6 col-md-3 col-lg-6">
                <div class="footer-thumb">
                  <img src="/assets/img/footer/gallery-2.jpg" alt="img" />
                  <a href="/index.html" class="icon">
                    <i class="fa-brands fa-instagram"></i>
                  </a>
                </div>
              </div>
              <div class="col-6 col-md-3 col-lg-6">
                <div class="footer-thumb">
                  <img src="/assets/img/footer/gallery-3.jpg" alt="img" />
                  <a href="/index.html" class="icon">
                    <i class="fa-brands fa-instagram"></i>
                  </a>
                </div>
              </div>
              <div class="col-6 col-md-3 col-lg-6">
                <div class="footer-thumb">
                  <img src="/assets/img/footer/gallery-4.jpg" alt="img" />
                  <a href="/index.html" class="icon">
                    <i class="fa-brands fa-instagram"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="footer-bottom-wrapper">
        <div class="logo-img wow fadeInUp" data-wow-delay=".3s">
          <a href="/index.html">
            <img src="/assets/img/logo/SIMPSEC LOGO banner.png" alt="img" />
          </a>
        </div>
        <p class="wow fadeInUp" data-wow-delay=".5s">SimpSec, LLC © 2025. All Rights Reserved.</p>
        <p class="wow fadeInUp" data-wow-delay=".5s">
          <a href="/legal/terms-of-service.html">Terms of Service</a> |
          <a href="/legal/privacy-policy.html">Privacy Policy</a>
        </p>
        <div class="social-icon wow fadeInUp" data-wow-delay=".7s">
          <!--
                        <a href="#"><i class="fa-brands fa-discord"></i></a>
                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                        -->
          <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
          <a href="#"><i class="fa-brands fa-youtube"></i></a>
          <a href="http://substack.com/@vanessagerardo" class="social-icon-img">
            <img src="/assets/img/substack.png" alt="Substack" />
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
